---
import path from "path";
import Layout from "../../../../layouts/BaseLayout.astro";
import BlogPostList from "../../../../components/BlogPostPage/List.astro";
import { getCollection } from "astro:content";
import getDirsInDir from "../../../../utils/get-dirs-in-dir";

export async function getStaticPaths() {
    const collectionDir = path.resolve(process.cwd(), "./src/content/blog/");
    const yearsInDir = getDirsInDir(collectionDir);

    const paths = yearsInDir.flatMap((yearDiretory) => {
        const yearDir = path.resolve(
            process.cwd(),
            "./src/content/blog/",
            yearDiretory
        );
        const monthsInYearDir = getDirsInDir(yearDir);

        const fullPaths = monthsInYearDir.map((monthDirectory) => {
            return {
                params: { year: yearDiretory, month: monthDirectory },
            };
        });

        return fullPaths;
    });

    return paths;
}

const { year, month } = Astro.params;

const posts = await getCollection("blog", ({ data }) => {
    if (data.redirect) {
        return false;
    }

    const isYear = data.pubDate.getFullYear().toString() === year;
    const isMonth = data.pubDate.getMonth() === parseInt(month || "0", 10) - 1;

    return isMonth && isYear;
});

const options = { year: "numeric", month: "long" };
const today = new Date(`${year}-${month}-01`);
const title = today.toLocaleDateString("en-US", options);
---

<Layout>
    <p><strong>Posts from {title}</strong></p>
    <BlogPostList posts={posts} />
</Layout>
