---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortByPubdate } from "../../utils/sort-posts";

const posts = (await getCollection("blog")).sort(sortByPubdate);
---

<Layout>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <time datetime={post.data.pubDate.toISOString()}>
                        {post.data.pubDate.toLocaleDateString("en-us", {
                            year: "numeric",
                            month: "short",
                            day: "numeric",
                        })}
                    </time>
                    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
