---
import Layout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import { sortByPubdateMostRecentFirst } from "../../utils/sort-posts";
import { formatDate } from "../../utils/datetime-fmt";

const posts = (await getCollection("blog")).sort(sortByPubdateMostRecentFirst);
---

<Layout>
    <ul>
        {
            posts.map((post) => (
                <li>
                    <time datetime={post.data.pubDate.toISOString()}>
                        {formatDate(post.data.pubDate)}
                    </time>
                    <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
                </li>
            ))
        }
    </ul>
</Layout>
