.variant-blog .aa-DetachedSearchButton {
    width: 30px;
    height: 30px;
}

.variant-blog .aa-DetachedSearchButtonIcon {
    flex-shrink: unset;
}

.variant-blog .aa-SubmitIcon {
    width: 100%;
    cursor: pointer;
}

a.aa-ItemLink {
    background-image: none;
    color: rgb(var(--accent));
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
}

a.aa-ItemLink:hover {
    text-decoration: none !important;
}

.aa-ItemContentDescription {
    white-space: nowrap;
}

.aa-ItemContentTitle {
    line-height: 1.15rem;
}

.aa-Item {
    margin: 0.3rem 0;
    padding: 0.5rem;
}

.aa-Item:first-child {
    margin-top: 0;
}

.aa-Item:last-child {
    margin-bottom: 0;
}
