nav.c-breadcrumbs .c-breadcrumbs__crumbs {
    margin: 0.5rem 0;
    padding: 0;
    display: flex;
    list-style: none;
    font-size: 0.8rem;
}

nav.c-breadcrumbs .c-breadcrumbs__crumbs .c-breadcrumbs__crumb {
    align-items: center;
    display: flex;
}

nav.c-breadcrumbs
    .c-breadcrumbs__crumbs
    .c-breadcrumbs__crumb
    .c-breadcrumbs__separator {
    display: flex;
    align-items: center;
}

nav.c-breadcrumbs
    .c-breadcrumbs__crumbs
    .c-breadcrumbs__crumb
    .c-breadcrumbs__separator
    svg {
    width: 17px;
    height: 12px;
    stroke-width: 3px;
}
