:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #4a76d4 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 0.9rem;
}

a {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}

blockquote {
    border-left: 3px solid #ccc;
    margin: 0 1.5rem;
    padding: 0 0 0 1rem;
    color: #666;
}

a:hover {
    background-image: none;
    color: rgb(var(--accent));
    -webkit-background-clip: unset;
    -webkit-text-fill-color: unset;
    text-decoration: underline;
}

.container {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
}

.site-tagline {
    font-style: italic;
}

/*Header Container (i.e. Title + Search)*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
