:root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #4a76d4 30%,
        white 60%
    );
}
html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
}
code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
        DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 0.9rem;
}

blockquote {
    border-left: 3px solid #ccc;
    margin: 0;
    padding: 0 0 0 1rem;
    color: #666;
}

a {
    color: #773feb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
}

.site-tagline {
    font-style: italic;
}

/*Header Container (i.e. Title + Search)*/
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.youtubeWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.youtubeWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.astro-code {
    border-radius: 5px;
    padding: 15px 18px;
}
