<div id="utterances"></div>
<script is:inline>
    window.addEventListener("load", function () {
        const s = document.createElement("script");
        const tag = document.getElementById("utterances");
        s.setAttribute("repo", "vernak2539/words-byvernacchia");
        s.setAttribute("issue-term", "pathname");
        s.setAttribute("label", "comments");
        s.setAttribute("theme", "preferred-color-scheme");
        s.setAttribute("crossorigin", "anonymous");
        s.src = "https://utteranc.es/client.js";
        tag.parentNode.insertBefore(s, tag);
    });
</script>
