---
import SimpleAnalyticsFooter from "./SimpleAnalyticsFooter.astro";
---

<footer>
    <hr class="footer-divider" />
    <ul class="footer-links">
        <li class="footer-link">
            <a href="/">Home</a>
        </li>
        <li class="footer-link"><a href="/tags">Tags</a></li>
    </ul>
    <a style="display: none;" rel="me" href="https://inane.chat/@vernak"
        >Mastodon</a
    >
    <SimpleAnalyticsFooter />
</footer>

<style>
    .footer-divider {
        height: 1px;
        border: 0;
        border-top: 1px solid #ddd;
        margin: 1rem auto 0;
    }
    .footer-links {
        display: flex;
        list-style: none;
        justify-content: center;
    }

    .footer-links .footer-link {
        padding: 0 0.5rem;
        font-size: 0.7rem;
    }
</style>
