<div style={{ display: "flex", justifyContent: "end" }}>
    <a
        href="https://simpleanalytics.com/?utm_source=words.byvernacchia.com&utm_content=badge"
        referrerpolicy="origin"
        target="_blank"
        aria-label="Find out more about how you can use Simple Analytics to use privacy based user tracking"
        ><picture>
            <!--<source-->
            <!--    srcset="https://simpleanalyticsbadges.com/words.byvernacchia.com?mode=dark"-->
            <!--    media="(prefers-color-scheme: dark)"-->
            <!--/>-->
            <img
                src="https://simpleanalyticsbadges.com/words.byvernacchia.com?mode=light"
                loading="lazy"
                referrerpolicy="no-referrer"
                crossorigin="anonymous"
                width="210"
                height="50"
                alt="simple analytics promo"
            /></picture
        ></a
    >
</div>
