---
import { SITE_TITLE_SPLIT } from "../../constants";

export interface Props {
    variant: "home" | "blog";
}

const { variant } = Astro.props;
---

<h1 class={variant}>
    <a class="home-link" href="/">
        {SITE_TITLE_SPLIT[0]}{" "}<span class="text-gradient link-hover">
            {SITE_TITLE_SPLIT[1]}
        </span>
    </a>
</h1>

<style>
    h1.home {
        font-size: 2.75rem;
        font-weight: 800;
        margin: 0;
    }

    h1.blog {
        font-size: 1rem;
        font-weight: 800;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .home-link:hover .link-hover {
        border-bottom: 3px solid #4a76d4;
    }

    .blog .home-link:hover .link-hover {
        border-bottom: 1px solid #4a76d4;
    }
</style>
