---
import Layout from "../../layouts/BaseLayout.astro";
import BlogPostList from "../../components/BlogPost/List.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog");

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
    <h2>Posts with "{tag}" tag...</h2>
    <BlogPostList posts={posts} />
</Layout>
