---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";
---

<Layout title={SITE_TITLE}>
    <main>
        <h1>{SITE_TITLE}</h1>
        <p class="tagline">{SITE_DESCRIPTION}</p>

        <section class="words">
            <p>
                Well, you've made it here for some reason... Have fun I guess!
            </p>

            <p>
                But really, I'm making this site for my explorations into FE
                tech things. I'll make a blog post soon about why I'm doing
                this. Should be fun. In the meantime, checkout some silly things
                below that I do elsewhere.
            </p>
        </section>

        <Card
            title="byvernacchia.com"
            body="Just some messing around"
            href="https://byvernacchia.com"
        />
    </main>
</Layout>

<style>
    main {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }
    .tagline {
        font-style: italic;
    }
    /* .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    } */
    .words {
        line-height: 1.6;
        margin: 1rem 0;
        border: 1px solid rgba(var(--accent), 25%);
        background-color: white;
        padding: 1rem;
        border-radius: 0.4rem;
    }

    .link-card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 1rem;
        padding: 0;
    }
</style>
