---
import path from "path";
import Layout from "../../../layouts/BaseLayout.astro";
import BlogPostList from "../../../components/BlogPostPage/List.astro";
import { getCollection } from "astro:content";
import getDirsInDir from "../../../utils/get-dirs-in-dir";

export async function getStaticPaths() {
    const collectionDir = path.resolve(process.cwd(), "./src/content/blog/");
    const yearsInDir = getDirsInDir(collectionDir);

    return yearsInDir.map((yearDir) => {
        return {
            params: { year: yearDir },
        };
    });
}

const { year } = Astro.params;

const posts = await getCollection("blog", ({ data }) => {
    if (data.redirect) {
        return false;
    }

    return data.pubDate.getFullYear().toString() === year;
});

const options = { year: "numeric" };
const today = new Date(`${year}-01-01`);
const title = today.toLocaleDateString("en-US", options);
---

<Layout>
    <p><strong>Posts from {title}</strong></p>
    <BlogPostList posts={posts} />
</Layout>
