---
interface Props {
    pubDate: string;
    collection: string;
}

const { pubDate, collection } = Astro.props;
const { slug } = Astro.params;
const urlDate = pubDate.split("-");

urlDate.pop();

const path = [...urlDate, slug].join("/");
---

<div id="redirect" data-redirect-path={`/${collection}/${path}`}>
    You are being redirected to this post's new location
</div>

<script is:inline>
    const el = document.getElementById("redirect");
    const redirectPath = el.getAttribute("data-redirect-path");
    window.location.replace(redirectPath);
</script>
