<div style={{ display: "flex", justifyContent: "end" }}>
    <a
        href="https://simpleanalytics.com/?utm_source=words.byvernacchia.com&utm_content=badge"
        referrerpolicy="origin"
        target="_blank"
        ><picture
            ><source
                srcset="https://simpleanalyticsbadges.com/words.byvernacchia.com?mode=dark"
                media="(prefers-color-scheme: dark)"
            /><img
                src="https://simpleanalyticsbadges.com/words.byvernacchia.com?mode=light"
                loading="lazy"
                referrerpolicy="no-referrer"
                crossorigin="anonymous"
            /></picture
        ></a
    >
</div>
