---
import { SITE_TITLE_SPLIT } from "../constants";

export interface Props {
    variant: "home" | "blog";
}

const { variant } = Astro.props;
---

<h1 class={variant}>
    {SITE_TITLE_SPLIT[0]}{" "}<span class="text-gradient link"
        ><a href="/">{SITE_TITLE_SPLIT[1]}</a></span
    >
</h1>

<style>
    h1.home {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    h1.blog {
        font-size: 1.5rem;
        font-weight: 800;
        margin: 0;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .link {
        border-bottom: 3px solid #000;
    }

    .link:hover {
        border-bottom-color: #4a76d4;
    }
</style>
