---
export interface Props {
    title: string[];
}

const { title } = Astro.props;
---

<h1>
    {title[0]}<span class="text-gradient link"><a href="/">{title[1]}</a></span>
</h1>

<style>
    h1 {
        font-size: 3rem;
        font-weight: 800;
        margin: 0;
    }

    .text-gradient {
        background-image: var(--accent-gradient);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-size: 400%;
        background-position: 0%;
    }

    .link {
        border-bottom: 3px solid #000;
    }

    .link:hover {
        border-bottom-color: #4a76d4;
    }
</style>
