---
import Layout from "../../../layouts/BaseLayout.astro";
import BlogPostList from "../../../components/BlogPostPage/List.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
    const allPosts = await getCollection("blog", ({ data }) => {
        return !data.redirect;
    });

    const uniqueTags = [
        ...new Set(allPosts.map((post) => post.data.tags).flat()),
    ];

    return uniqueTags.map((tag) => {
        const filteredPosts = allPosts.filter((post) =>
            post.data.tags.includes(tag)
        );
        return {
            params: { tag },
            props: { posts: filteredPosts },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout>
    <h2>Posts with the "{tag}" tag...</h2>

    <BlogPostList posts={posts} />

    <div class="all-tags-nav">
        <a href="/tags">🔙 all tags</a>
    </div>
</Layout>

<style>
    .all-tags-nav {
        font-size: 0.8rem;
    }
</style>
