---
import SiteTitle from "../components/SiteTitle.astro";
import { SITE_DESCRIPTION, SITE_TITLES_SPLIT } from "../constants";

export interface Props {
    title: "home" | "blog";
}

const { title } = Astro.props;
const titleSplit = SITE_TITLES_SPLIT[title];
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{titleSplit.join("")}</title>
    </head>
    <body>
        <main class="main-container">
            <SiteTitle title={titleSplit} />
            <p class="site-tagline">{SITE_DESCRIPTION}</p>
            <slot />
        </main>
    </body>
</html>
<style is:global>
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
            45deg,
            rgb(var(--accent)),
            #4a76d4 30%,
            white 60%
        );
    }
    html {
        font-family: system-ui, sans-serif;
        background-color: #f6f6f6;
    }
    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
            DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    .main-container {
        margin: auto;
        padding: 1.5rem;
        max-width: 60ch;
    }

    .site-tagline {
        font-style: italic;
    }
</style>
